@charset "UTF-8";
/* CSS Document */

@font-face{
    font-family: 'bobs_burgersregular';
    src: url('bobs_burgers-webfont.woff2') format('woff2'),
         url('bobs_burgers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.top {
	background-color: #f7df26; 
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
	height: 10%; 
	width: 96%;
	top: 0%;
	text-align:center;
	font-family:'bobs_burgersregular'; 
	font-size: 170px; 
	border-style: solid; 
	border-width: 10px; 
	border-radius: 10px; 
	
}

ul {list-style-type: none; margin: 0; padding: 0;
}
		
.menubar {overflow: hidden; width:96%; background-color: #e92332;
	border-style: solid; border-color:#e92332; border-width: 10px; border-radius: 10px;
	text-align: center; margin-right: auto; margin-left: auto;
}

.menubar a {
	float: left;
	color: #000000;
	text-align: center;
	padding: 2%;
	text-decoration: none;
	font-size: 30px;
	font-family:'bobs_burgersregular';
}

.menubar a:hover {
	background-color: #ff8080;
	color: #000000;
	border-radius: 10px;
}

.menubar a.active {
	background-color: #e92332;
	color: #ddd;
	
}


.text {
	max-width: 50%;
	height: auto;
	padding: 3%; 
	bottom : -20%;
	right: 22.5%;
	font-family: dolly-new;
	text-align: center;
	font-size: 20px;
	background-color: white;
	position:absolute;
}

.img1 {
	 max-width: 70%;
 	 height: auto;
	margini-right: 15%;
	margin-left: 15%; 
	overflow : hidden;
}

flex-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  align-content:space-around;
}

.container {
	position:relative;
	margin-top: 2%;
}

#schedule {
	font-family: dolly-new;
	text-align: center;
	color: #fff;
	font-size: 20px;
	background-color: white;
	max-width: 65%;
	margin-top: 13%;
	margin-left:15%;
	height: auto;
	background-image: url(hamburger-5.jpg);
	padding:3%;
}

.bottom {
	background-color: #f7df26; 
	text-align:center;
	font-size: 30px;
	font-family: "bobs_burgersregular";
	padding: 1%;
	height: 6%; 
	width: 98%;
	margin-top: 10%;
	border-width: 6px; 
	border-radius: 10px;
	border-style: solid; 
	bottom: 0%;
	
}

.img2{
	max-width: 60%;
 	 height: auto;
	margin-top: 2%;
	overflow : hidden;
	margin-right: 3%;
	margin-left:3%;
	float: left;
}

#contactinfo{
	font-family: dolly-new;
	font-size: 20px;
}

#container2{
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 7%;
	padding-top: 4%;
}


@media screen and (max-width: 1000px) {
  .top {
    font-size: 80px;
	border-width: 6px; 
  }
  .text{
	font-size: 10px;	
  }
  .menubar {
	 border-width: 6px;
  }
  .bottom {
	 font-size: 15px;
  }
  #contactinfo {
	  font-size: 15px;
  }
}
